body {
  background-image: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 75px !important;
  font-family: "Village", Arial, sans-serif !important;
}

h1.big-title {
  font-size: 80px!important;
}

.big-text {
  font-size: 20px!important;
}

.color-theme-one {
  color: #fff;
}

.font-size-one {
  font-size: 20px;
}

.nav-button:hover {
  background-color: rgba(49, 47, 23, 0.8) !important;
}

.text-dec-none {
  text-decoration: none;
}

.text-dec-none:hover {
  color:  #8f4522 !important;
}

@media (max-width: 650px) {
  .nav-input {
    font-size: 10px !important;
  }
}

@media (max-width: 800px) {
  .height-change {
    height: auto!important;
    color: blue;
  }
}

@font-face {
  font-family: "Village" !important;
  src: url("/src/fonts/village.ttf") format("truetype") !important;
  font-display: swap;
}

/* .border {
  border: 5px solid black;
} */

.color-theme-1 {
  background-color: #fede8e !important;
}

.color-theme-2 {
  background-color: #ffa760 !important;
}

.color-theme-3 {
  background-color: #8f4522 !important;
  color: white !important;
}

.color-theme-3:hover {
  background-color: #6e2502 !important;
  color: white !important;
}

.text-red {
  color: red !important;
}

.margin-top {
  margin-top: -10px !important;
}

/* div#root {
  margin-right: -150px!important;
} */