.color-theme-one {
  color: #fff;
}

.color-theme-two {
  color: #8f4522;
}

.font-size-one {
  font-size: 20px;
}

.nav-color {
  background-color: #eec33d;
}

.nav-button:hover {
  background-color: rgba(49, 47, 23, 0.8) !important;
}

.text-dec-none {
  text-decoration: none;
}

.text-dec-none:hover {
  color: rgb(49, 47, 23);
}

@media (max-width: 650px) {
  .nav-input {
    font-size: 10px !important;
  }
}

@font-face {
  font-family: "YourCustomFont";
  src: url("./fonts/Village.ttf") format("truetype");
}

body {
  font-family: "YourCustomFont", Arial, sans-serif;
}

.border {
  border: 5px solid black;
}

.color-theme-1 {
  background-color: #fede8e !important;
}

.color-theme-2 {
  background-color: #ffa760 !important;
}
/*  sidebar */

.color-theme-3 {
  color: #8f4522 !important;
  /*  darkest brown*/
}

body {
  background-color: #fede8e !important;
}

body {
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  margin-top: 75px !important;
}